.board{
    display:flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    width:1000px;
    height:700px;
    background-image: linear-gradient(green, white,rgb(4, 50, 4));
}
.carta{
    display:block;
    width:210px;
    height:280px;
    margin-top:2px;
}
